@charset "UTF-8";

input:focus {
    outline: none;
}

input::placeholder {
    color: #ACB7C7;
}


.reset-pwd-cont .masking-pwd-icon > input[type=checkbox] {
    display: none;
}

.reset-pwd-cont .masking-pwd-icon > input[type=checkbox] + label {
    cursor: pointer;
    padding-left: 30px;
    display: inline-block;
    font-size: 12px;
    color: #22214B;
    opacity: 1;
    width: 56px;
    height: 20px;
    margin: 0 0 0 86px;
    background-repeat: no-repeat;
    background-image: url('../../image/ico_pw_off.svg');
}

.reset-pwd-cont .masking-pwd-icon > input[type=checkbox]:checked + label {
    background-image: url('../../image/ico_pw_on.svg');
}

.gray-navy-line {
    border-bottom: 1px solid #768AA7;
    width: 435px;
    margin-left: 125px;
}

.reset-pwd-cont .gray-navy-line {
    width: 400px;
    margin: 15px 0 0 86px;
}

.reset-pwd-cont div > input[type=checkbox] {
    display: none;
}

.reset-pwd-cont > div > div > input[type=checkbox] + label {
    cursor: pointer;
    padding-left: 30px;
    display: inline-block;
    font-size: 12px;
    color: #22214B;
    opacity: 1;
    width: 56px;
    height: 20px;
    margin: 10px 0 0 86px;
    background-repeat: no-repeat;
    background-image: url('../../image/cb_off.svg');
}

.reset-pwd-cont > div > div > input[type=checkbox]:checked + label {
    background-image: url('../../image/cb_on.svg');
}

.reset-pwd-cont > div > div > input[type=checkbox] + label > span {
    vertical-align: sub;
}

.reset-pwd-cont > div > div > .reset-pwd {
    margin-left: 235px;
    font-size: 12px;
    cursor: pointer;
}

.txt-underline-navy {
    border-bottom: 1px solid #22214B;
    padding-bottom: 1px;
}

.reset-pwd-title {
    font-size: 36px;
    letter-spacing: 0px;
    color: #1A1A1A;
    opacity: 1;
    position: relative;
    top: 58px;
    left: 851px;
    width: 227px;
    height: 42px;
}

.reset-pwd-cont {
    height: 465px;
    width: 490px;
    margin: 160px auto;
}


.reset-pwd-cont .reset-pwd-input {
    width: 292px;
    padding-bottom: 17px;
    border: none;
    background-color: transparent;
    margin-left: 39px;
    position: absolute;
}

.reset-pwd-cont .masking-pwd-icon {
    position: absolute;
    width: 0px;
    margin: -36px 0 0 381px;
}

.reset-pwd-cont .auth-number-timer {
    color: #768AA7;
    opacity: 1;
    font-size: 12px;
    padding-right: 5px;
    width: 32px;
    display: inline-block;
}

.reset-pwd-cont .reset-pwd-btn-cont {
    text-align: -webkit-center;
    margin-top: 65px;
}

.reset-pwd-cont .reset-pwd-btn-cont .reset-pwd-btn {
    width: 300px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: 0px;
    color: #F8F7F7;
    opacity: 1;
}

.reset-pwd-cont .reset-pwd-result-cont {
    text-align: center;
    margin-top: 65px;
    height: 20px;
}

.reset-pwd-cont .reset-pwd-result-cont > div {
    display: none;
}


.reset-pwd-cont .reset-pwd-result-cont > div > span {
    margin-top: 0px;
    color: #FF0000;
    opacity: 1;
    font-size: 12px;
    vertical-align: text-top;
    margin-left: 8px;
}

.reset-pwd-cont > div > button.auth-number {
    font-size: 16px;
    letter-spacing: 0px;
    opacity: 1;
    display: inline-block;
    background: transparent;
}

.reset-pwd-cont > div > button.auth-number:enabled {
    color: #22214B;
    cursor: pointer;
}

.reset-pwd-cont > div > button.auth-number:disabled {
    color: #ACB7C7;
}


.ico-info-x {
    content: url(/image/ico_info_x.svg);
}

.ico-info-o {
    content: url(/image/ico_info_o.svg);
}

button {
    font-family: 'Pretendard-Medium';
    border: none;
    display: block;
}

.reset-pwd-cont button.reset-pwd-btn:enabled {
    background: #22214B;
    cursor: pointer;
    pointer-events: auto;
}

.reset-pwd-cont button.reset-pwd-btn:disabled {
    background: #ACB7C7;
    pointer-events: none;
}
