@charset "UTF-8";

#title-area-title {
    text-align: left;
    font-family: 'Pretendard-Medium';
    font-size: 24px;
    letter-spacing: 0px;
    color: #1A1A1A;
    opacity: 1;
}

.title-area {
    position: absolute;
    top: 60px;
    left: 315px;
    width: 1290px;
    height: 60px;
    text-align: left;
    font-style: medium;
    font-size: 20px;
}

#search-type {
    -webkit-appearance: none; /* 크롬 화살표 없애기 */
    -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
    appearance: none; /* 화살표 없애기 */
    position: absolute;
    top: -5px;
    left: 890px;
    width: 80px;
    height: 44px;
    text-align: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    background-image: url(/image/btn_select_down.svg);
    background-position: right;
    border: 1px solid #768AA7;
    border-radius: 2px;
    font-family: 'Pretendard-Regular';
    opacity: 1;
}

#items-per-page {
    -webkit-appearance: none; /* 크롬 화살표 없애기 */
    -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
    appearance: none; /* 화살표 없애기 */
    position: absolute;
    top: 90px;
    left: 0px;
    width: 80px;
    height: 40px;
    text-align: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    background-image: url(/image/btn_select_down.svg);
    background-position: right;
    border: 1px solid #768AA7;
    border-radius: 2px;
    font-family: 'Pretendard-Regular';
    opacity: 1;
    font-size: 12px;
}

#search-word {
    position: absolute;
    font-family: 'Pretendard-Medium';
    top: -5px;
    left: 981px;
    width: 249px;
    height: 40px;
    padding-right: 55px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #768AA7;
    border-radius: 2px;
    opacity: 1;
    text-indent: 13px;
}

#search-word::placeholder {
    color: #ACB7C7;
}

#items-per-page:focus {
    background-image: url(/image/btn_select_up.svg);
    border: 1px solid #1CA3DD;
    outline: none;
}

#search-type:focus {
    background-image: url(/image/btn_select_up.svg);
    border: 1px solid #1CA3DD;
    outline: none;
}


#search-word:focus {
    border-color: #1CA3DD;
    outline: #1CA3DD;
}

#board-regist {
    position: absolute;
    width: 150px;
    top: 105px;
    left: 1180px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-family: 'Pretendard-Medium';
    font-size: 14px;
    letter-spacing: 0px;
    color: #1A1A1A;
    opacity: 1;
    border: none;
    background: none;
    cursor: pointer;
}


#img-search {
    position: absolute;
    top: 6px;
    left: 1258px;
    width: 20px;
    height: 20px;
    background: transparent url('/image/btn_search.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    cursor: pointer;
}

#data-table {
    font-family: 'Pretendard-Regular';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1290px;
    height: 500px;
    text-align: center;
    border-top: 2px solid #768AA7;
    border-collapse: collapse;
    table-layout: fixed;
    cursor: pointer;
}

.pagination {
    display: flex;
    align-items: center;
    width: 600px;
    height: 80px;
    opacity: 1;
    justify-content: center;
    margin-left: 330px;
    margin-top: 10px;
}

.pagination a {
    min-width: 24px;
    height: 24px;
    line-height: 24px;
    background-color: white;
    font-family: 'Pretendard-Regular';
    font-size: 12px;
    color: #768AA7;
    margin-right: 5px;
    text-align: center;
    border: 1px solid #ACB7C7;
    border-radius: 3px;
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}

.pagination a.selected {
    background-color: #22214B;
    color: white;
    border: 1px solid #ACB7C7;
    border-radius: 3px;
    border-color: #22214B;
    text-decoration: none;
}

.pagination .first-page-btn {
    margin-right: 5px;
}

.pagination .prev-page-btn {
    margin-right: 5px;
}

.pagination .next-page-btn {
    margin-right: 5px;
}

.pagination .last-page-btn {
    margin-right: 5px;
}


.list-board {
    font-family: 'Pretendard-Regular';
    position: absolute;
    top: 200px;
    left: 315px;
    width: 1290px;

}

tbody {
    overflow-y: auto;
    max-height: 401px;
}

table {
    width: 1290px;
    border-collapse: collapse;
    border-bottom: 1px solid #768AA7;

}

thead, tbody {
    display: block;
    width: 1290px;
}

tbody {
    height: 100%;
    width: 1290px;

}

th, td {
    width: 560px;
    text-align: center;
}

thead {
    border-top: 2px solid #768AA7;
    border-bottom: 1px solid #768AA7;
}

tr {
    height: 40px;
    background-color: white;
    font-size: 13px;
}

th {
    background-color: white;
    font-size: 12px;
    color: #999999;
    font-weight: normal;
    word-break: break-all;
}

td {
    border-bottom: 1px solid #ddd;
    word-break: break-all;
}

thead {
    height: 47px;
}

.list-number {
    width: 150px;
}

.list-lock {
    text-align: center;
    width: 30px;
}

.list-title {
    width: 610px;
    text-align: left;
    padding-right: 20px;
    cursor: pointer;
}

.list-state {
    width: 130px;
}

.list-writer {
    width: 220px;
    text-align: center;
}

.list-date {
    width: 180px;
}

.list-click {
    width: 200px;
}

.body_type2::-webkit-scrollbar {
    width: 10px;
}

.body_type2::-webkit-scrollbar-thumb {
    background-color: #E3E3E3;
    border-radius: 10px;
}

.body_type2::-webkit-scrollbar-track {
    background-color: #F8F7F7;
    border-radius: 10px;
}

#cmt-number {
    width: 60px;
    height: 24px;
    font-family: 'Pretendard-Medium';
    text-align: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    color: #768AA7;
    border: none;
    opacity: 1;
    cursor: pointer;
}

#lock-img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

tbody::-webkit-scrollbar {
    width: 8px;
}

tbody::-webkit-scrollbar-thumb {
    background-color: #E3E3E3;
    border-radius: 8px;
}

tbody::-webkit-scrollbar-track {
    background-color: #F8F7F7;
    border-radius: 8px;
}

.list-comment-count {
    color: #768AA7;
    margin-left: 20px;
    font-size: 13px;
}

.private {
    color: gray;
}