@charset "UTF-8";

#content > p {
    display: block;
    margin: 0px;
    padding: 0px;
    /* Layout Properties */
    position: relative;
    text-align: left;
    margin-top: 50px;
    margin-left: 50px;
    height: 24px;
    font-size: 20px;
    letter-spacing: 0px;
    color: #1A1A1A;
    opacity: 1;
}

#content > .sub_content {
    display: block;
    margin-left: 90px;
    margin-top: 40px;
    height: 25px;
    left: 90px;
}

#content > .sub_content > span:nth-child(1) {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin: 0px;
    padding: 0px;
    /* UI Properties */
    background: #1A1A1A 0% 0% no-repeat padding-box;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    letter-spacing: 0px;
    color: #F8F7F7;
    opacity: 1;
}

#content > .sub_content > span:nth-child(2) {
    width: 100px;
    /* UI Properties */
    text-align: left;
    margin-left: 8px;
    font-size: 16px;
    letter-spacing: 0px;
    color: #1A1A1A;
    opacity: 1;
}

#content #recp_btn_area {
    height: 50px;
    padding: 0px;
    margin-top: 55px;
    margin-left: 90px;
    left: 90px;
    border-bottom: 1px solid #F8F7F7;
    width: 1260px
}

#content #recp_btn_area > div {
    display: inline-block;
    width: 200px;
    height: 50px;
    background: #F8F7F7;
    border-radius: 2px 2px 0px 0px;
    border-width: 0px;
    text-align: center;
    font-family: Pretendard-Regular;
    font-size: 14px;
    letter-spacing: 0px;
    color: #768AA7;
    opacity: 1;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

#content #recp_btn_area > div.active {
    background: #22214B;
    color: #F8F7F7;
}

#content #recp_btn_area > div > span {
    display: inline;
    line-height: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#recp_area {
    display: block;
    position: relative;
    margin-top: 29px;
    width: 100%;
    height: 374px;
}

.sel_recptgt_btn {
    position: relative;
    display: inline-block;
    margin-left: 1226px;
    width: 104px;
    height: 40px;
    top: 10px;
    text-align: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #22214B;
    border-radius: 50px;
    vertical-align: middle;
    font-size: 14px;
    letter-spacing: 0px;
    color: #22214B;
    opacity: 1;
    cursor: pointer;
}

.sel_recptgt_btn > span {
    display: inline;
    line-height: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

#recp_rtg_view {
    padding: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    position: relative;
    overflow-y: auto;
    margin-top: 20px;
    margin-left: 189px;
    width: 1141px;
    height: 276px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #768AA7;
    border-radius: 2px;
    opacity: 1;
}

.recp_recv_cnt {
    position: absolute;
    left: 189px;
    top: 360px;
    display: none;
}

#recpview_cont {
    display: inline;
}

#recpview_cont > #recp_search {
    display: block;
    margin-left: 136px;
    height: 43px;
}

#recpview_cont > #recp_search > span {
    display: inline-block;
    text-align: left;
    font-size: 12px;
}

input {
    font-family: 'Pretendard-Regular';
}

#recpview_cont > #recp_search > input {
    display: inline;
    margin-left: 30px;
    padding: 0px;
    border: 1px solid #768AA7;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 55px;
    width: 516px;
    height: 40px;
    font-family: 'Pretendard-Regular';
    font-size: 12px;
}

#recpview_cont > #recp_search > input[type='text']:focus {
    outline: none;
    border: 1px solid #1CA3DD;
}

#recpview_cont > #recp_search > img {
    position: absolute;
    top: 11px;
    left: 740px;
    width: 18px;
    height: 18px;
    right: 10px;
    cursor: pointer;
}

#recpview_cont > #recp_excel_upload {
    position: absolute;
    top: 0px;
    left: 189px;
    width: 1025px;
    height: 56px;
    border-bottom: 1px solid #768AA7;
}

#recpview_cont > #recp_excel_upload > span {
    line-height: 56px;
    display: inline-block;
    font-family: Pretendard-Regular;
    font-size: 12px;
    color: #999999;
}

#recpview_cont > #recp_excel_upload > img {
    display: inline;
    vertical-align: middle;
    cursor: pointer;
}

#recp_area > #recpview_cont > .recp_recv_cnt > img {
    vertical-align: middle;
    margin-right: 10px;
}

#recp_area > #recpview_cont > .recp_recv_cnt > label {
    font-family: 'Pretendard-Regular';
    font-size: 14px;
}

#recp_area > #recpview_cont > .recp_recv_cnt > label > span {
    color: #1CA3DD;
    font-size: 14px;
}

#recp_area > #recpview_cont > .recp_rtg_view > div {
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: 20px;
    padding: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    /* UI Properties */
    text-align: left;
    font-family: Pretendard-Regular;
    font-size: 12px;
    letter-spacing: 0px;
    color: #1A1A1A;
    line-height: 15px;
    opacity: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#recp_area > #recpview_cont > #recp_rtg_view > div > img {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    margin-left: 13px;
    width: 14px;
    height: 14px;
    cursor: pointer;
}

#recp_rtg_view::-webkit-scrollbar {
    width: 8px;
}

#recp_rtg_view::-webkit-scrollbar-thumb {
    background-color: #E3E3E3;
    border-radius: 5px;
}

#recp_rtg_view::-webkit-scrollbar-track {
    background-color: #F8F7F7;
    border-radius: 5px;
}

#recp_table {
    display: block;
    margin-top: 30px;
    width: 1141px;
    margin-left: 189px;

}

#recp_table > table {
    display: inline-block;
    height: 271px;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2px solid #768AA7;
    /* border-bottom:1px solid #768AA7; */
    font-family: 'Pretendard-Regular';

}

#recp_table table > thead > tr > th {
    border-bottom: 1px solid #768AA7;
    font-size: 13px;
    height: 50px;
    color: #768AA7;
}

#recp_table > table > thead > tr > th:nth-child(1) {
    width: 200px;
}

#recp_table > table > thead > tr > th:nth-child(2) {
    width: 810px;
}

#recp_table > table > thead > tr > th:nth-child(3) {
    width: 125px;
}

#recp_table table > tbody {
    display: block;
    /* height:215px; */
    max-height: 215px;
    overflow-y: auto;
    border-bottom: 1px solid #768AA7;
}

#recp_table > table > tbody::-webkit-scrollbar {
    width: 8px;
}

#recp_table > table > tbody::-webkit-scrollbar-thumb {
    background-color: #E3E3E3;
    border-radius: 5px;
}

#recp_table > table > tbody::-webkit-scrollbar-track {
    background-color: #F8F7F7;
    border-radius: 5px;
}

#recp_table table > tbody > tr > td {
    border-bottom: 1px solid #DCE2EB;
    text-align: center;
    height: 40px;
    font-size: 12px;
}

#recp_table > table > tbody > tr > td:nth-child(1) {
    width: 200px;
}

#recp_table > table > tbody > tr > td:nth-child(2) {
    width: 810px;
}

#recp_table > table > tbody > tr > td:nth-child(3) {
    width: 125px;
}

#recp_table > table > tbody > tr > td > img {
    word-break: 'break-all';
    cursor: pointer;
}

#msg_subject_area {
    position: relative;
    margin-top: 33px;
    margin-left: 136px;
}

#msg_subject_area > span {
    display: inline;
    width: 30px;
    line-height: 56px;
    vertical-align: middle;
    /* UI Properties */
    text-align: left;
    font-size: 12px;
    letter-spacing: 0px;
    opacity: 1;
}

#msg_subject_area > span:nth-child(1) {
    color: #f00;
}

#msg_subject_area > input {
    margin-left: 30px;
    width: 1005px;
    margin-right: -20px;
    height: 56px;
    vertical-align: middle;
    font-size: 12px;
    /* UI Properties */
    background: #FFFFFF;
    border: 0px;
    border-bottom: 1px solid #768AA7;
    opacity: 1px;
}

#msg_subject_area > input:focus {
    border: 0px;
    outline: none;
    border-bottom: 1px solid #1CA3DD;
}

#content > #msg_content_area {
    position: relative;
    margin-top: 20px;
    margin-left: 136px;
    width: 90%;
    height: 332px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

#msg_content_area > div {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    width: 1134px;
    height: 276px;
    top: 20px;
}

#msg_content_area > span {
    display: inline;
    width: 30px;
    line-height: 56px;
    /* UI Properties */
    text-align: left;
    font-size: 12px;
    letter-spacing: 0px;
    opacity: 1;
}

#msg_content_area > span:nth-child(1) {
    color: #f00;
}

#msg_content {
    position: relative;
    width: 1124px;
    height: 276px;
    border: 1px solid #768AA7;
    border-radius: 2px;
    opacity: 1;
    overflow: auto;
}

#content > #msg_file_area {
    position: relative;
    margin-top: 20px;
    margin-left: 136px;
}

#msg_file_area > span {
    display: inline;
    width: 68px;
    margin-right: 30px;
    line-height: 56px;
    /* UI Properties */
    text-align: left;
    font-size: 12px;
    letter-spacing: 0px;
    opacity: 1;
}

#msg_file_area > #filename {
    font-family: 'Pretendard-Regular';
    display: inline-block;
    width: 1115px;
    height: 36px;
    font-size: 12px;
    /* UI Properties */
    background: #FFFFFF;
    border: 0px;
    border-bottom: 1px solid #768AA7;
    opacity: 1px;
}

#msg_file_area > #filename > span {
    font-size: 12px;
}

#msg_file_area > #filename > img {
    position: absolute;
    left: 1160px;
    display: inline-block;
    vertical-align: middle;
}

#content > #msg_option_area {
    position: relative;
    margin-top: 30px;
    margin-left: 136px;
}

#msg_option_area > div {
    margin-bottom: 20px;
    height: 56px;
    vertical-align: middle;
}

#msg_option_area > div > span {
    display: inline-block;
    padding: 0px;
    width: 69px;
    vertical-align: middle;
    font-size: 12px;
}

#msg_option_area > div > label {
    margin-left: 8px;
    font-size: 12px;
    line-height: 40px;
    vertical-align: middle;
}

#msg_option_area > div > input[type="radio"] {
    margin-left: 30px;
    vertical-align: middle;
    appearance: none;
    border: 0.5em solid #FFFFFF;
    background-color: #ACB7C7;
    outline: 0.1rem solid #ACB7C7;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

#msg_option_area > div > input[type="radio"]:checked {
    background-color: #FFFFFF;
    border: 0.5em solid #22214B;
    outline: none;
}

#sendopt_resv_date_area {
    display: none;
    margin-left: 20px;
    width: 420px;
    height: 42px;
}

#sendopt_resv_date_area .date_input {
    width: 120px;
    height: 40px;
    vertical-align: middle;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #768AA7;
    border-radius: 2px;
    opacity: 1;
    text-indent: 14px;
    padding: 0px;
    margin: 0px;
}

#sendopt_resv_date_area .date_input:focus {
    outline: none;
    border: 1px solid #1CA3DD;
}

#sendopt_resv_date_area .date_input > p {
    margin-left: 10px;
    font-family: 'Pretendard-Regular';
    font-size: 12px;
    line-height: normal;
    letter-spacing: 0px;
    color: #1A1A1A;
    opacity: 1;
}

#sendopt_resv_date_area > select {
    -webkit-appearance: none; /* 크롬 화살표 없애기 */
    -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
    appearance: none; /* 화살표 없애기 */
    width: 80px;
    height: 40px;
    /* UI Properties */
    text-align: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #768AA7;
    border-radius: 2px;
    padding: 0px;
    margin: 0px;
    opacity: 1;
    background-repeat: no-repeat;
    background-image: url('/image/btn_select_down.svg');
    background-position: right;
}

#sendopt_resv_date_area > select:focus {
    background-repeat: no-repeat;
    background-image: url('/image/btn_select_up.svg');
    background-position: right;
    border: 1px solid #1CA3DD;
    outline: none;
}

#btn-date {
    display: inline-block;
    position: absolute;
    left: 395px;
    top: 10px;
    cursor: pointer;
    background: transparent;
    border: none
}


.retry_cnt.retry_cnt_selected {
    background: #22214B !important;
    color: #F8F7F7 !important;
}

input::placeholder {
    color: #999999;
}

input::-webkit-input-placeholder {
    color: #999999;
}

input:-ms-input-placeholder {
    color: #999999;
}

/*datepicker 캘린더 관련 css*/
.ui-datepicker {
    font-family: 'Pretendard-Regular';
}

.ui-datepicker button {
    font-family: 'Pretendard-Regular';
}

.ui-datepicker .ui-datepicker-header {
    height: 30px;
}

.ui-datepicker select.ui-datepicker-month {
    height: 27px;
    margin-right: 10px;
}

.ui-datepicker select.ui-datepicker-year {
    height: 27px;
}

.ui-datepicker-trigger {
    display: none !important;
}

.ui-state-default, .ui-widget-content .ui-state-default {
    border: none;
    font-weight: 500;
}

#msg_option_area > div > input[type=text] {
    width: 1083px;
    height: 56px;
    line-height: 56px;
    margin: 0px;
    margin-left: 30px;
    padding: 0px;
    font-family: Pretendard-Regular;
    font-size: 12px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0px;
    border-bottom: 1px solid #768AA7;
    opacity: 1;
    text-indent: 2px;
}

#msg_option_area > div > input[type=text]:focus {
    border: 0px;
    outline: none;
    border-bottom: 1px solid #1CA3DD;
}

#msg_option_area > div > input[type=text]::placeholder {
    color: #999999;
}

#msg_option_area > div > select {
    display: inline;
    -webkit-appearance: none; /* 크롬 화살표 없애기 */
    -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
    appearance: none; /* 화살표 없애기 */
    padding: 0px;
    width: 509px;
    padding-left: 10px;
    margin-left: 30px;
    vertical-align: middle;
    text-align: center;
    height: 40px;
    /* UI Properties */
    border: 1px solid #768AA7;
    border-radius: 2px;
    opacity: 1;
    cursor: pointer;
    text-align: left;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('/image/btn_select_down.svg');
    background-position: right;
}

#msg_option_area > div > select:focus {
    background-repeat: no-repeat;
    background-image: url('/image/btn_select_up.svg');
    background-position: right;
    border: 1px solid #1CA3DD;
    outline: none;
}

select {
    font-size: 12px;
    font-family: 'Pretendard-Regular';
}

select::-webkit-scrollbar {
    width: 8px;
}

select::-webkit-scrollbar-thumb {
    background-color: #E3E3E3;
    border-radius: 8px;
}

select::-webkit-scrollbar-track {
    background-color: #F8F7F7;
    border-radius: 8px;
}

#msg_option_area > div > button {
    font-family: 'Pretendard-Regular';
    font-size: 12px;
    width: 30px;
    height: 30px;
    color: #1A1A1A;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #768AA7;
    border-radius: 2px;
    opacity: 1;
    cursor: pointer;
}

#msg_option_area > div > label {
    font-family: 'Pretendard-Regular';
    font-size: 12px;
    color: #1A1A1A;
}

#msg_option_area > div:first-child > label {
    font-family: 'Pretendard-Medium';
}

#msg_option_area > div > label > label {
    font-size: 12px;
    color: #999999;
}

#content > #send_btn_area {
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 80px;
}

#content > #send_btn_area > div {
    display: block;
    width: 330px;
    margin: auto;
}

#content > #send_btn_area > div > button {
    font-family: 'Pretendard-Medium';
    margin: 0px 10px 90px 10px;
    vertical-align: top;
    width: 140px;
    height: 50px;
    font-size: 14px;
    color: #F8F7F7;
    /* UI Properties */
    background: #768AA7;
    border-width: 0px;
    border-radius: 50px;
    opacity: 1;
    cursor: pointer;
}

label.msg-send-excel-file-label {
    content: url('/image/btn_file.svg');
    top: 16px;
    left: 1000px;
    position: absolute;
    cursor: pointer;
}

span.excel-file-name-display {
    font-family: 'Pretendard-regular';
    font-size: 14px;
    margin-left: 105px;
    color: rgb(172, 183, 199);
}