@charset "UTF-8";

@import './default/icon.css';
@import './default/button.css';
@import './default/input.css';
@import './default/select.css';
@import './default/table.css';
@import './default/form.css';
@import './default/modal.css';
@import './default/alert.css';
@import './default/search.css';
@import './default/font-pretendard.css';
  
/* style common */
.con-ty2 .mt-0 {margin-top: 0 !important;}
.con-ty2 .mb-0 {margin-bottom: 0 !important;}
.con-ty2 .pt-0 {padding-top: 0 !important;}
.con-ty2 .pb-0 {padding-bottom: 0 !important;}
.con-ty2 .mt-16 {margin-top: 16px !important;}
.con-ty2 .mt-24 {margin-top: 24px !important;}
.con-ty2 .mt-32 {margin-top: 32px !important;}
.con-ty2 .mt-40 {margin-top: 40px !important;}
.con-ty2 .mt-48 {margin-top: 48px !important;}
.con-ty2 .mt-60 {margin-top: 60px !important;}
.con-ty2 .mb-16 {margin-bottom: 16px !important;}
.con-ty2 .mb-24 {margin-bottom: 24px !important;}
.con-ty2 .mb-32 {margin-bottom: 32px !important;}
.con-ty2 .mb-40 {margin-bottom: 40px !important;}
.con-ty2 .mb-48 {margin-bottom: 48px !important;}
.con-ty2 .mb-60 {margin-bottom: 60px !important;}
.con-ty2 .ml-auto {margin-left: auto !important;}

input[type="radio"] {display: none;}

.con-ty2 .blind{overflow: hidden; position: absolute; display: block; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%); border: 0; z-index: -1;}
.con-ty2 .ta-l{text-align: left !important;}
.con-ty2 .ta-c{text-align: center !important;}
.con-ty2 .ta-r{text-align: right !important;}
.con-ty2 .c-blue{color: #4A7CF7 !important;}
.con-ty2 .c-gray{color: #454545 !important;}
.con-ty2 .c-black{color: #222 !important;}
.con-ty2 .c-white{color: #fff !important;}
.con-ty2 .flex{display: flex; align-items: center;}
.con-ty2 .between{justify-content: space-between !important;}
.con-ty2 .start{justify-content: flex-start !important;}
.con-ty2 .end{justify-content: flex-end !important;}
.con-ty2 .center{justify-content: center !important;}
.con-ty2 .line-box{padding: 32px; border-radius: 5px; border: 1px solid #DADCE0;}

.con-ty2 .page-tit {padding: 100px 0 60px; font-size: 36px; font-weight: 700; color: #454545; letter-spacing: -0.25px; line-height: 1; text-align: center;}
.con-ty2 .sub-txt{margin-bottom: 24px; font-size: 20px; line-height: 1.5;}
.con-ty2 .info-txt{font-size: 16px; line-height: 1.5; margin: 40px 0;}

.con-ty2 .complete-box .desc{font-size: 20px; color: #454545; text-align: center;}
.con-ty2 .gray-box{display: flex; align-items: center; justify-content: space-between; margin-bottom: 32px; padding: 32px 40px; background-color: #F9F9FB; border: 1px solid #DADCE0; border-radius: 5px;}
.con-ty2 .gray-box.ty2{display: block;}

/* tit, txt */
.con-ty2 .sub-tit-wrap{display: flex; align-items: center; justify-content: space-between; margin-bottom: 24px;}
.con-ty2 .sub-tit-wrap .tit-m{margin-bottom: 0;}

.con-ty2 .tit-m{margin-bottom: 24px; font-size: 20px; font-weight: 700; color: #222;}
.con-ty2 .tit-s{margin-bottom: 16px; font-size: 16px; font-weight: 700; color: #222;}
.con-ty2 .txt-xl{font-size: 24px; color: #454545;}
.con-ty2 .txt-l{font-size: 20px; color: #454545;}
.con-ty2 .txt-m{font-size: 16px;}
.con-ty2 .txt-s{font-size: 14px; color: #222;}
.con-ty2 .txt-xs{font-size: 12px; color: #454545;}

/* btn */
.con-ty2 .page-btn-wrap{display: flex; align-items: center; justify-content: center; margin-top: 60px;}
.con-ty2 .page-btn-wrap .btn{width: 416px; height: 52px; border-radius: 5px;}
.con-ty2 .page-btn-wrap .btn + .btn{margin-left: 24px;}
.con-ty2 .page-btn-wrap .btn.primary{color: #fff; font-size: 16px; background-color: #4A7CF7;}
.con-ty2 .page-btn{width: 416px; height: 52px; color: #fff; font-size: 16px; background-color: #4A7CF7; border-radius: 5px;}
.con-ty2 .page-btn.full{width: 100% !important;}

.con-ty2 .btn-wrap {display: flex; align-items: center; width: 100%;}
.con-ty2 .btn-wrap.full .btn {width: 100%;}
.con-ty2 .btn-wrap .btn + .btn {margin-left: 8px;}
.con-ty2 .btn:hover{box-shadow: none;}

.con-ty2 .btn{position: relative; display: inline-flex; align-items: center; justify-content: center; padding: 8px 20px; min-width: 146px; height: 36px; font-size: 14px; border-radius: 5px;}
.con-ty2 .btn.txt{padding: 0; min-width: fit-content; height: auto; color: #222; font-size: 16px;}

.con-ty2 .btn.txt.primary{color: #4A7CF7;}
.con-ty2 .btn.txt.gary{color: #454545;}

.con-ty2 .btn.line{border: 1px solid #4A7CF7; color: #4A7CF7; background-color: #fff;}
.con-ty2 .btn.line.white{border: 2px solid #fff; color: #fff; background-color: transparent;}
.con-ty2 .btn.line.gray{border-color: #DADCE0; color: #222;}

.con-ty2 .btn.bg{color: #fff; background-color: #4A7CF7;}

.con-ty2 .btn.icon{padding: 0; width: 20px; height: 20px; min-width: fit-content;}

.con-ty2 .btn.large{height: 70px; font-size: 24px; font-weight: 700; border-radius: 8px;}
.con-ty2 .btn.medium{height: 52px; font-size: 16px; font-weight: 700;}
.con-ty2 .btn.small{font-size: 14px;}

.con-ty2 .btn.btn-terms::before{content: ''; display: block; margin-right: 4px; width: 20px; height: 20px; background: url('../images/icon/icon_search_plus.png') no-repeat center/contain;}

/* tab */
.con-ty2 .tab-list{display: flex; align-items: center;}
.con-ty2 .tab-list.line{border-bottom: 1px solid #DADCE0;}
.con-ty2 .tab-list .tab{position: relative; display: inline-flex; padding: 14px 26px; font-size: 15px; font-weight: 700; color: #454545;}
.con-ty2 .tab-list .tab.active::before{order: 1; content: ''; display: inline-block; margin-left: 4px; margin-top: 5px; width: 6px; height: 6px; background-color: #D7322D; border-radius: 50%;}
.con-ty2 .tab-list .tab.active::after{content: ''; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); display: inline-block; width: 100%; height: 2px; background-color: #4A7CF7;}
.con-ty2 .tab-panel{display: none; padding-top: 24px;}
.con-ty2 .tab-panel.active{display: block;}
.con-ty2 .tab-panel .tit-wrap {margin-top: 22px}
.con-ty2 .tab-panel .tit-wrap span{font-size: 16px; font-weight: 700; margin-right: 16px;}

/* table */
.con-ty2 .table-wrap{overflow-x: auto;}
.con-ty2 .table-wrap .table{min-width: 1000px;}
.con-ty2 .table-wrap:not(:first-child){margin-top: 24px;}
.con-ty2 .table-wrap + .table-wrap{margin-top: 24px;}
.con-ty2 .table-info-wrap{margin-bottom: 16px;}
.con-ty2 .table-info-wrap .tit-s{margin-bottom: 0;}
.con-ty2 .table-info-wrap .table-btn .btn.txt{color: #454545; font-size: 14px;}
.con-ty2 .table-info-wrap .table-btn .btn.txt::after{content: ''; display: inline-block; margin: 0 16px; width: 1px; height: 16px; background-color: #DADCE0;}
.con-ty2 .table-info-wrap .table-btn .btn.txt:last-child::after{display: none;}
.con-ty2 .table-info-wrap .total{margin-right: 16px;}
.con-ty2 .table-info-wrap .input-wrap.search{width: 260px;}
  
.con-ty2 .table.table-st01 .input-check {justify-content: center;}
.con-ty2 .table.table-st01 .input-check label:before{margin: 0;}
.con-ty2 .table.table-st01 tbody td{text-align: center;}
.con-ty2 .table.table-st01 tbody td .btn-wrap.ty2 .btn{width: 106px; min-width: auto;}
.con-ty2 .table .btn.copy{margin-left:40px; vertical-align: middle; font-size: 14px;}
/* .con-ty2 .table.table-st02 tbody td{text-align: center;} */
.con-ty2 .table.table-st02 tbody tr{border-top: 1px solid #DADCE0;}
.con-ty2 .table.table-st02 tbody tr:last-child{border-bottom: 1px solid #DADCE0;}
.con-ty2 .table.table-st02 tbody th{background-color: #F9F9FB;}
.con-ty2 .table.table-st02 tbody td{position: relative; padding: 6px 40px;}
.con-ty2 .table.table-st02 tbody strong{font-weight: 700;}

.con-ty2 .table-bottom-btn{display: flex; justify-content: flex-end; padding: 12px 40px 0; }

.con-ty2 .table.table-st03 {background-color: #fff; margin-top:80px; font-size: 14px;}
.con-ty2 .table.table-st03 thead th {border-top: 2px solid #000; padding: 27px 20px; text-align: left;}
.con-ty2 .table.table-st03 tbody tr {height: 140px; border-top: 1px solid #C7C7C7; box-sizing: border-box;}
.con-ty2 .table.table-st03 tbody tr:last-child {border-bottom: 1px solid #C7C7C7;}
.con-ty2 .table.table-st03 tbody tr:hover {background-color: #F2F5FD;}
.con-ty2 .table.table-st03 tbody td{padding: 20px;}
.con-ty2 .table.table-st03 tbody tr th{text-align: center; font-size: 20px; font-weight: 700;}
.con-ty2 .table.table-st03 tbody tr th.smart{color:#417EF1;}
.con-ty2 .table.table-st03 tbody tr th.standard{color:#0E2BA6;}
.con-ty2 .table.table-st03 tbody tr th.free{color:#000;}

/* form */
.con-ty2 .form-wrap + .form-wrap{margin-top: 32px;}
.con-ty2 .form-wrap .form-tit{display: flex; align-items: center; justify-content: space-between; margin-bottom: 16px;}
.con-ty2 .form-wrap .tit{font-size: 16px; font-weight: 700; color: #222;}

.con-ty2 .input-wrap{position: relative;}
.con-ty2 .input-wrap ~ *[class^="input"] {margin-top: 24px;}
.con-ty2 .input-wrap > label{display: inline-flex;}
.con-ty2 .input-wrap .input{position: relative;}
.con-ty2 .input-wrap .input input{padding: 0 16px; width: 100%; height: 56px; border: 1px solid #DADCE0; border-radius: 5px;}
.con-ty2 .input-wrap .input input:focus{border: 1px solid #4A7CF7;}
.con-ty2 .input-wrap .input.value input{border-width: 0;}
.con-ty2 .input-wrap .msg{margin-top: 4px; padding-left: 16px; font-size: 12px; color: #49454F;}
.con-ty2 .input-wrap .btn.icon{position: absolute; top: 50%; right: 16px; transform: translateY(-50%); margin-left: 0; width: 20px; height: 20px;}

.con-ty2 .input-wrap.ty2 .input{border-color: #79747E;}
.con-ty2 .input-wrap.ty2 > label{position: absolute; top: -10px; left: 16px; z-index: 1; display: inline-block; padding: 0px 4px; font-size: 12px; color: #49454F; background: #fff;}

.con-ty2 .gray-box.ty2 .input-wrap.ty3 .input{max-width: 682px;}
.con-ty2 .gray-box.ty2 .btn-wrap{width: auto;}
.con-ty2 .gray-box.ty2 .input-wrap.ty3 > label{width: 66px;}
.con-ty2 .input-wrap.ty3{display: flex; align-items: flex-start;}
.con-ty2 .input-wrap.ty3 > label{flex-shrink: 0; margin-top: 6px; margin-right: 8px; width: 150px; font-size: 16px; font-weight: 700;}
.con-ty2 .input-wrap.ty3 .input{width: 100%; max-width: 422px;}
.con-ty2 .input-wrap.ty3 .input input{height: 36px; background-color: #fff;}
.con-ty2 .input-wrap.ty3 .msg{font-size: 12px;}
.con-ty2 .input-wrap.ty3 .btn:not(.icon){flex-shrink: 0; margin-left: 8px; width: 122px; height: 36px;}
.con-ty2 .input-wrap.ty3 .input-file-upload .upload-name{height: 36px;}

.con-ty2 .input-wrap.ty4 + .input-wrap.ty4{margin-top: 32px;}
.con-ty2 .input-wrap.ty4 > label{margin-bottom: 16px; font-size: 16px; font-weight: 700;}
.con-ty2 .input-wrap.ty4 .label-tit{margin-bottom: 16px; font-size: 16px; font-weight: 700;}
.con-ty2 .input-wrap.ty4 .input{display: flex; width: 100%; max-width: 594px;}
.con-ty2 .input-wrap.ty4 .input input{height: 36px;}
.con-ty2 .input-wrap.ty4 .msg{font-size: 12px;}
.con-ty2 .input-wrap.ty4 .desc{margin-top: 8px; font-size: 12px; color: #454545;}
.con-ty2 .input-wrap.ty4 .btn:not(.icon){flex-shrink: 0; margin-left: 8px; width: 122px; min-width: initial;}
.con-ty2 .input-wrap.ty4 .input-file-upload .upload-name{height: 36px;}
.con-ty2 .input-wrap.ty4.disabled .input input{border: 0}

.con-ty2 .input-radio-wrap{display: flex;}
.con-ty2 .input-radio-wrap .input-radio{flex: 1; display: block; width: 120px; height: 36px; font-size: 14px; }
.con-ty2 .input-radio-wrap .input-radio + .input-radio{margin-left: 8px;}
.con-ty2 .input-radio-wrap .input-radio label{display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; border: 1px solid #DADCE0; background-color: #F9F9FB; border-radius: 36px; cursor: pointer;}
.con-ty2 .input-radio-wrap .input-radio input[type="radio"]:checked ~ label{background-color: #D8E6FF; border-color: #4A7CF7; color: #4A7CF7; box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);}

.con-ty2 .btn-radio-wrap{display: flex;}
.con-ty2 .btn-radio-wrap .btn-radio{display: block; min-width: 120px; height: 36px;}
.con-ty2 .btn-radio-wrap .btn-radio + .btn-radio{margin-left: 8px;}
.con-ty2 .btn-radio-wrap .btn-radio label{display: flex; align-items: center; justify-content: center; padding: 0 10px; width: 100%; height: 100%; border: 1px solid #DADCE0; background-color: #F9F9FB; border-radius: 36px; cursor: pointer;}
.con-ty2 .btn-radio-wrap .btn-radio input[type="radio"]:checked ~ label{background-color: #D8E6FF; border-color: #4A7CF7; color: #4A7CF7; box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);}

.con-ty2 .input-check-wrap.row{display: flex;}
.con-ty2 .input-check-wrap.row .input-check + .input-check{margin-left: 30px; margin-top: 0;}
.con-ty2 .input-check{display: flex;}
.con-ty2 .input-check + .input-check{margin-top: 24px;}
.con-ty2 .input-check input{display: none;}
.con-ty2 .input-check label{display: flex; align-items: center; font-size: 16px; color: #454545;}
.con-ty2 .input-check label span{display: inline-block; margin-right: 4px;}
.con-ty2 .input-check label::before{content: ''; display: block; margin-right: 8px; width: 24px; height: 24px; border: 1px solid #DADCE0; border-radius: 5px; background-color: #fff;}
.con-ty2 .input-check input:checked ~ label::before{background-color: #4A7CF7; border-color: #4A7CF7; background-image: url('../images/icon/icon_check.png'); background-position: center center;}
.con-ty2 .input-check .btn-terms{margin-left: auto;}

.con-ty2 .input-file-upload{display: flex; width: 100%;}
.con-ty2 .input-file-upload .upload-name{padding: 0 16px; width: 100%; max-width: 422px; height: 56px; color: #AAAAAA; border-radius: 5px; border: 1px solid #DADCE0;}
.con-ty2 .input-file-upload input[type="file"]{position: absolute; width: 0; height: 0; padding: 0; overflow: hidden; border: 0;}

.con-ty2 .input textarea{width: 100%; min-height: 120px; border: 1px solid #DADCE0; border-radius: 5px;}

/* layout */
.con-ty2.wrap.policy{background-color: #FFF; line-height: 1.4; color: #454545;}

.con-ty2.wrap{min-width: 1280px; min-height: 100vh; background-color: #E5EBF3; line-height: 1.4; color: #454545;}
.con-ty2.wrap p, h1, h2, h3, h4{line-height: 1.4;}
.con-ty2 .container {display: flex; margin: 0 auto; padding: 0; width: 100%; min-height: calc(100vh - 64px);}

.con-ty2 .section-wrap{flex: 1; padding: 32px; overflow-x: auto;}
.con-ty2 .section-box{padding: 24px; border-radius: 16px; min-width: 800px; min-height: calc(100vh - 96px - 32px); background-color: #fff;}
.con-ty2 .section-box.width-s{padding: 0;}
/* .con-ty2 .section-box .inner{margin: 0 auto; padding: 0 20px 100px;} */
.con-ty2 .section-box .inner{margin: 0 auto; padding: 0 0px 100px;}
.con-ty2 .section-box.width-s .inner{max-width: 480px; box-sizing: content-box;}
.con-ty2 .section-box.width-m .inner{max-width: 750px;}
/* .con-ty2 .section-box.width-s .inner{max-width: calc(480px + 40px); box-sizing: content-box;} */
/* .con-ty2 .section-box.width-m .inner{max-width: calc(750px + 40px);} */

/* lnb */
.con-ty2 .lnb-wrap{flex-shrink: 0; margin-top: 1px; padding: 16px 16px 16px 0; width: 85px; background-color: #fff; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3); transition: 0.5s;}
.con-ty2 .lnb-wrap .lnb .item::after{content: ''; display: block; margin: 12px 0; width: 100%; height: 1px; background-color: #DADCE0; }
.con-ty2 .lnb-wrap .lnb .item:last-child::after{display: none;}
.con-ty2 .lnb-wrap .lnb .lnb-tit{padding: 12px 0 12px 24px; font-size: 13px; color: #454545;}
.con-ty2 .lnb-wrap .lnb .lnb-menu-list li a{display: flex; align-items: center; padding: 12px 24px; border-radius: 0 50px 50px 0;}
.con-ty2 .lnb-wrap .lnb .lnb-menu-list li a::before{flex-shrink: 0; content: ''; display: block; width: 24px; height: 24px;}
/* .con-ty2 .lnb-wrap .lnb .lnb-menu-list li + li{margin-top: 10px;} */

/* 11-28 추가 */
.con-ty2 .lnb-wrap.open{width: 252px;}
.con-ty2 .lnb-wrap .lnb .lnb-menu-list li .txt{display: none; margin-left: 8px; font-size: 14px; font-weight: 700; color: #454545;}
.con-ty2 .lnb-wrap.open .lnb-menu-list li .txt{display: block;}
.con-ty2 .lnb-wrap .lnb .lnb-menu-list li.active a{background-color: #D8E6FF;}
.con-ty2 .lnb-wrap .lnb .lnb-menu-list li.active .txt{color: #4A7CF7;}
/* //11-28 추가 */

.con-ty2 .lnb-wrap .lnb .lnb-menu-list li a.service::before{background: url('../images/icon/biz_service.png') no-repeat center/contain;}
.con-ty2 .lnb-wrap .lnb .lnb-menu-list li.active a.service::before{background: url('../images/icon/biz_service02.png') no-repeat center/contain;}
.con-ty2 .lnb-wrap .lnb .lnb-menu-list li a.my::before{background: url('../images/icon/biz_letter.png') no-repeat center/contain;}
.con-ty2 .lnb-wrap .lnb .lnb-menu-list li.active a.my::before{background: url('../images/icon/biz_letter02.png') no-repeat center/contain;}
  
	/* 워크센터 lnb*/
.con-ty2 .lnb-wrap .lnb .message li:nth-child(1) a::before{background: url('../images/icon/lnb_11.png') no-repeat center/contain;}
.con-ty2 .lnb-wrap .lnb .message li:nth-child(1).active a::before{background: url('../images/icon/lnb_11_b.png') no-repeat center/contain;}
.con-ty2 .lnb-wrap .lnb .message li:nth-child(2) a::before{background: url('../images/icon/lnb_12.png') no-repeat center/contain;}
.con-ty2 .lnb-wrap .lnb .message li:nth-child(2).active a::before{background: url('../images/icon/lnb_12_b.png') no-repeat center/contain;}
.con-ty2 .lnb-wrap .lnb .message li:nth-child(3) a::before{background: url('../images/icon/lnb_13.png') no-repeat center/contain;}
.con-ty2 .lnb-wrap .lnb .message li:nth-child(3).active a::before{background: url('../images/icon/lnb_13_b.png') no-repeat center/contain;}
.con-ty2 .lnb-wrap .lnb .message li:nth-child(4) a::before{background: url('../images/icon/lnb_14.png') no-repeat center/contain;}
.con-ty2 .lnb-wrap .lnb .message li:nth-child(4).active a::before{background: url('../images/icon/lnb_14_b.png') no-repeat center/contain;}

.con-ty2 .lnb-wrap .lnb .template li:nth-child(1) a::before{background: url('../images/icon/lnb_21.png') no-repeat center/contain;}
.con-ty2 .lnb-wrap .lnb .template li:nth-child(1).active a::before{background: url('../images/icon/lnb_21_b.png') no-repeat center/contain;}
.con-ty2 .lnb-wrap .lnb .template li:nth-child(2) a::before{background: url('../images/icon/lnb_22.png') no-repeat center/contain;}
.con-ty2 .lnb-wrap .lnb .template li:nth-child(2).active a::before{background: url('../images/icon/lnb_22_b.png') no-repeat center/contain;}

.con-ty2 .lnb-wrap .lnb .campaign li:nth-child(1) a::before{background: url('../images/icon/lnb_31.png') no-repeat center/contain;}
.con-ty2 .lnb-wrap .lnb .campaign li:nth-child(1).active a::before{background: url('../images/icon/lnb_31_b.png') no-repeat center/contain;}
.con-ty2 .lnb-wrap .lnb .campaign li:nth-child(2) a::before{background: url('../images/icon/lnb_32.png') no-repeat center/contain;}
.con-ty2 .lnb-wrap .lnb .campaign li:nth-child(2).active a::before{background: url('../images/icon/lnb_32_b.png') no-repeat center/contain;}

.con-ty2 .lnb-wrap .lnb .receive li:nth-child(1) a::before{background: url('../images/icon/lnb_41.png') no-repeat center/contain;}
.con-ty2 .lnb-wrap .lnb .receive li:nth-child(1).active a::before{background: url('../images/icon/lnb_41_b.png') no-repeat center/contain;}
.con-ty2 .lnb-wrap .lnb .receive li:nth-child(2) a::before{background: url('../images/icon/lnb_42.png') no-repeat center/contain;}
.con-ty2 .lnb-wrap .lnb .receive li:nth-child(2).active a::before{background: url('../images/icon/lnb_42_b.png') no-repeat center/contain;}
.con-ty2 .lnb-wrap .lnb .receive li:nth-child(3) a::before{background: url('../images/icon/lnb_43.png') no-repeat center/contain;}
.con-ty2 .lnb-wrap .lnb .receive li:nth-child(3).active a::before{background: url('../images/icon/lnb_43_b.png') no-repeat center/contain;}
.con-ty2 .lnb-wrap .lnb .receive li:nth-child(4) a::before{background: url('../images/icon/lnb_44.png') no-repeat center/contain;}
.con-ty2 .lnb-wrap .lnb .receive li:nth-child(4).active a::before{background: url('../images/icon/lnb_44_b.png') no-repeat center/contain;}
.con-ty2 .lnb-wrap .lnb .receive li:nth-child(5) a::before{background: url('../images/icon/lnb_45.png') no-repeat center/contain;}
.con-ty2 .lnb-wrap .lnb .receive li:nth-child(5).active a::before{background: url('../images/icon/lnb_45_b.png') no-repeat center/contain;}
.con-ty2 .lnb-wrap .lnb .receive li:nth-child(6) a::before{background: url('../images/icon/lnb_46.png') no-repeat center/contain;}
.con-ty2 .lnb-wrap .lnb .receive li:nth-child(6).active a::before{background: url('../images/icon/lnb_46_b.png') no-repeat center/contain;}
  
	/* header */
.con-ty2 .header {padding: 12px 40px; height: 64px; box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3); position: sticky; top: 0; z-index: 99; width: 100%; background-color: #fff;}
.con-ty2 .header .header-inr {display: flex; justify-content: space-between; align-items: center; height: 100%;}
.con-ty2 .header .header-inr .hd-logo {display: flex; -webkit-box-align: center; align-items: center; height: 100%; position: absolute; left: 40px; padding-bottom: 0;}
.con-ty2 .header .hd-logo .logo {width: 195px;}
.con-ty2 .header .hd-logo .lnb-btn-wrap {margin-right: 32px;}
.con-ty2 .header .hd-logo .icon-lnb {width: 24px; height: 24px; background-image: url(../images/icon/icon_lnb_menu.png); background-size: contain;}
/* .con-ty2 .header .hd-logo .logo {position: absolute; left: 80px; width: 195px; padding-bottom: 0;} */
.con-ty2 .header .hd-menu {display: flex; align-items: center; justify-content: center; width: 100%;}
.con-ty2 .header .hd-menu li{display: flex; align-items: center;}
.con-ty2 .header .hd-menu li::after{content: ''; display: block; margin: 0 36px; width: 1px; height: 20px; background-color: #79747E;}
.con-ty2 .header .hd-menu li:last-child:after{display: none;}
.con-ty2 .header .hd-menu li a{font-size: 20px; color: #454545;}
.con-ty2 .header .hd-menu li.active a{font-weight: 700; color: #2979FF;}
.con-ty2 .header .hd-util{position: absolute; right: 40px; display: flex; align-items: center;}
.con-ty2 .header .hd-util .util-btn{display: flex;}
.con-ty2 .header .hd-util .util-btn .btn{padding: 0 40px; height: 36px;}
.con-ty2 .header .hd-util .util-btn .btn +.btn{margin-left: 8px;}
.con-ty2 .header .hd-util .util-btn + .user-profile{margin-left: 12px;}
.con-ty2 .header .hd-util .user-profile{overflow: hidden; width: 36px; height: 36px; border-radius: 50%; cursor: pointer;}
.con-ty2 .header .hd-util .util-setting  {margin-left: 12px;}
.con-ty2 .header .hd-util .util-setting .icon-setting {width: 24px; height: 24px; background-image: url(../images/icon/icon_hd_setting.png); background-size: contain;}
/* user toggle */
.con-ty2 .header .hd-util .toggle-wrap {display: none; position: absolute; top: 46px; left: auto; right: 0; min-width: 100px; padding: 15px; border-radius: 5px; background-color: #fff; box-shadow: 0 1px 6px 0px rgba(0, 0, 0, 0.3);}
.con-ty2 .header .hd-util .toggle-wrap .user-list li + li{margin-top: 5px;}
.con-ty2 .header .hd-util .toggle-wrap .user-list li:hover a{color: #2979FF;}
.con-ty2 .header .hd-util .toggle-wrap .user-list a{font-size: 14px;}
.con-ty2 .header .hd-util .toggle-wrap::after {content: '';position: absolute;top: -6px;left: auto;right: 10px;width: 15px;height: 15px;background-color: #FFFF;border-radius: 3px;box-shadow: -2px 2px rgb(178 178 178 / 0.3);transform: rotate(135deg);z-index: 2;}
.con-ty2 .header .hd-util.active .toggle-wrap {display: block;}

/* modal */
.con-ty2 .modal-wrap.open{display: flex;}
.con-ty2 .modal-inner{position: relative; width: 576px; padding: 0; background-color: #fff;}
.con-ty2 .modal-right .modal-inner{height: 100%; animation: fadeIn 1s, slideIn .8s linear; border-radius: 5px 0 0 5px;}

.con-ty2 .modal-header{position: sticky; top: 0; padding: 32px 40px; width: 100%;}
.con-ty2 .modal-header .modal-title{font-size: 20px; font-weight: 700; color: #222;}

.con-ty2 .modal-body{overflow-y: auto; padding: 0 40px; min-height: calc(100vh - 88px - 116px);}
.con-ty2 .modal-body .table-wrap .table{min-width: auto;}
.con-ty2 .modal-body .table-wrap .table .btn-wrap{justify-content: space-between;}
.con-ty2 .modal-body .table-wrap .table .btn.txt{height: 36px;}

.con-ty2 .modal-page-btn{display: flex; justify-content: center; padding: 24px 40px; width: 100%; height: 116px;}
.con-ty2 .modal-page-btn .btn +.btn{margin-left: 8px;}

.con-ty2 .modal-close-btn{position: absolute; top: 32px; right: 32px; margin-right: 0; width: 20px; height: 20px; background: url('../images/icon/icon_close2.svg') no-repeat center/contain;}

/* icon */
.con-ty2 i.icon{width: 20px; height: 20px; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain;}
.con-ty2 .icon-arrow{background-image: url('../images/icon/icon_arrow_fill.svg');}
.con-ty2 .icon-search{background-image: url('../images/icon/icon_search.svg');}
.con-ty2 .icon-close{background-image: url('../images/icon/icon_close2.svg');}
.con-ty2 .icon-copy {background-image: url('../images/icon/icon_copy_plus.png');}
.con-ty2 .icon-append {background-image: url('../images/icon/icon_plus.svg');}
.con-ty2 .icon-visible.active {background-image: url('../images/icon/icon_visible.svg');}
.con-ty2 .icon-visible {background-image: url('../images/icon/icon_invisible.svg');}
.con-ty2 .icon-edit {background-image: url('../images/icon/icon_edit2.svg');}

/****** style ******/

/* login */
.con-ty2 .login .txt-l{margin-top: 24px; margin-bottom: 16px;}
.con-ty2 .login .btn-wrap.bg-gray{margin-top: 24px; padding: 16px 0; background-color: #F9F9FB; justify-content: center; border-radius: 5px;}
.con-ty2 .login .btn-wrap.bg-gray .btn.txt{text-align: center;}
.con-ty2 .login .btn-wrap.bg-gray .btn.txt::after{content: ''; display: block; margin: 0 36px; width: 1px; height: 16px; background-color: #79747E;}
.con-ty2 .login .btn-wrap.bg-gray .btn.txt:last-child:after{display: none;}
.con-ty2 .login .certify-box {display:flex; justify-content: space-between; border: 1px solid #DADCE0;}
.con-ty2 .login .certify-box .img-wrap {width: 100%; display: flex; align-items: center; justify-content: center; background-color: #f8f8f8; border-right: 1px solid #DADCE0;}
.con-ty2 .login .certify-box .btn-wrap {flex-shrink: 0; display: flex; flex-direction: column; align-items: flex-start; margin-top: 0; padding: 12px 16px; width: auto;}

/* 음성, 이미지로 보기*/
/* .con-ty2 .login .certify-box .btn-wrap .btn{height: auto; justify-content: flex-start; padding: 0; font-size: 12px; color:#49454F; background-color: transparent;} */
/* .con-ty2 .login .certify-box .btn-wrap .btn + .btn{margin-top: 16px; margin-left: 0;} */
/* .con-ty2 .login .certify-box .btn-wrap .btn::before{content: ''; display: block; flex-shrink:0; width: 20px; height: 20px; margin-right: 5px;} */
/* .con-ty2 .login .certify-box .btn-wrap .btn.ico-refresh::before{background: url('../images/icon/icon_refresh.png') no-repeat center/contain;} */
/* .con-ty2 .login .certify-box .btn-wrap .btn.ico-voice::before{background: url('../images/icon/icon_voice.png') no-repeat center/contain;} */
/* .con-ty2 .login .certify-box .btn-wrap .btn.ico-img::before{background: url('../images/icon/icon_img.png') no-repeat center/contain;} */

/* join */
.con-ty2 .join .step-wrap {position: relative; display: flex; margin-bottom: 60px;}
.con-ty2 .join .step-wrap::before{content: ''; position: absolute; bottom: 0; left: 0; display: block; width: 100%; height: 1px; background-color: #DADCE0;}
.con-ty2 .join .step-wrap li{flex: 1; position: relative; display: flex; align-items: center; color: #aaa; font-size: 15px; font-weight: 700; text-align: center;}
.con-ty2 .join .step-wrap li span{display: block; padding: 12px 0; width: 100%;}
.con-ty2 .join .step-wrap li.active{font-weight: 700; color: #2979FF;}
.con-ty2 .join .step-wrap li.active span{border-bottom: 2px solid #2979FF;}
.con-ty2 .join .step-wrap li::after{content: ''; flex-shrink: 0; display: block; width: 24px; height: 24px; background: url('../images/icon/icon_step_arrow.png') no-repeat center/contain;}
.con-ty2 .join .step-wrap li:last-child::after{display: none;}
.con-ty2 .join .complete-box::before {content: ''; display: block; margin: 0 auto 16px; width: 320px; height: 320px; background: url('../images/noData/img_not_found320.png') no-repeat center/contain;}

.con-ty2 .join .input-radio-wrap{display: flex;}
.con-ty2 .join .input-radio{flex: 1; display: block; height: 76px; font-size: 20px; font-weight: 700;}
.con-ty2 .join .input-radio + .input-radio{margin-left: 24px;}
.con-ty2 .join .input-radio label{display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; border: 1px solid #DADCE0; background-color: #F9F9FB; border-radius: 5px; cursor: pointer;}
.con-ty2 .join .input-radio input:checked ~ label{background-color: #D8E6FF; border-color: #4A7CF7; color: #4A7CF7; box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);}

/* plan-box */
.con-ty2 .plan-box-list{display: flex; justify-content: center; margin-top: 40px;}
.con-ty2 .plan-box-list .item{max-width: 357px; flex: 1; padding: 30px; border-radius: 12px; border: 1px solid #DADCE0;}
.con-ty2 .plan-box-list .item + .item{margin-left: 12px;}
.con-ty2 .plan-box-list .item .tit-wrap{height: 180px;}
.con-ty2 .plan-box-list .item .tit-wrap .tit{font-size: 24px; font-weight: 700;}
.con-ty2 .plan-box-list .item .tit-wrap .desc{margin-top: 6px; font-size: 16px; color: #222; line-height: 1.6;}
.con-ty2 .plan-box-list .item .info-list{height: 140px;}
.con-ty2 .plan-box-list .item .info-list li{font-size: 16px; color: #79747E; line-height: 1.6;}
.con-ty2 .plan-box-list .item .info-list li strong{font-weight: 700; color: #222222;}
.con-ty2 .plan-box-list .item .btn-wrap .btn.btn-bg{width: 100%; height: 52px; font-size: 16px; font-weight: 700; border-radius: 5px; color: #fff; background-color: #4A7CF7;}

.con-ty2 .plan-box-list .item.smart .tit-wrap .tit{color: #4C88E4;}
.con-ty2 .plan-box-list .item.smart .btn-wrap .btn{background-color: #4C88E4;}
.con-ty2 .plan-box-list .item.standard .tit-wrap .tit{color: #125BE5;}
.con-ty2 .plan-box-list .item.standard .btn-wrap .btn{background-color: #125BE5;}
.con-ty2 .plan-box-list .item.free .tit-wrap .tit{color: #000000;}
.con-ty2 .plan-box-list .item.free .btn-wrap .btn{background-color: #000000;}

/* grid-box */
.con-ty2 .grid-box-wrap + .grid-box-wrap{margin-top: 24px;}
.con-ty2 .grid-box{display: grid; grid-template-columns: repeat(3, 1fr); gap:16px;}
.con-ty2 .grid-box li{display: flex; align-items: center; padding: 32px 40px; background-color: #F9F9FB; border: 1px solid #DADCE0; border-radius: 5px;}
.con-ty2 .grid-box li[class^="ico-"]::before{content :''; flex-shrink: 0; display: inline-block; margin-right: 32px; width: 60px; height: 60px; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain;}
.con-ty2 .grid-box li .txt-m{font-weight: 700;}

.con-ty2 .grid-box li.ico-app::before{background-image: url('../images/icon/icon_app_b.png');}
.con-ty2 .grid-box li.ico-web::before{background-image: url('../images/icon/icon_web_b.png');}
.con-ty2 .grid-box li.ico-kakao::before{background-image: url('../images/icon/icon_kakao_b.png');}
.con-ty2 .grid-box li.ico-sms::before{background-image: url('../images/icon/icon_sms_b.png');}

.con-ty2 .grid-box li p{width: 100%;}
.con-ty2 .grid-box li .btn{flex-shrink: 0;}

/* notice-list */
.notice-list{margin-top: 24px; color: #454545;}
.notice-list.small{font-size: 12px;}
.notice-list.small + .notice-list.small{margin-top: 20px;}
.notice-list.small .tit{margin-bottom: 6px;}
.notice-list.small .list li + li{margin-top: 4px;}

.con-ty2 .info-box{display: flex; align-items: center; justify-content: space-between;}
.con-ty2 .info-box .tit-s{margin-bottom: 0;}
.con-ty2 .info-box .txt-m{width: 100%;}
.con-ty2 .info-box .btn-wrap{flex-shrink: 0; margin-top: 0; padding-left: 20px; width: fit-content;}

/* 내정보관리 */
.con-ty2 .user-info-wrap{display: flex;}
.con-ty2 .user-info-wrap .user-info-box{overflow: hidden; flex-shrink: 0; margin-right: 24px; width: 284px; border-radius: 5px; border: 1px solid #DADCE0; background-color: #F9F9FB;}
.con-ty2 .user-info-wrap .user-info-box .top{display: flex; align-items: center; padding: 28px 40px; background-color: #fff;}
.con-ty2 .user-info-wrap .user-info-box .top .profile{flex-shrink: 0; overflow: hidden; margin-right: 16px; width: 40px; height: 40px; border-radius: 50%;}
.con-ty2 .user-info-wrap .user-info-box .top .name{font-size: 20px; font-weight: 500;}
.con-ty2 .user-info-wrap .user-info-box .top .btn.icon{flex-shrink: 0; margin-left: 8px;}
.con-ty2 .user-info-wrap .user-info-box .bottom{display: flex; flex-direction: column; padding: 24px 40px 40px; height: calc(100% - 96px); font-size: 14px;}
.con-ty2 .user-info-wrap .user-info-box .bottom .id{font-weight: 700; color: #4A7CF7;}
.con-ty2 .user-info-wrap .user-info-box .bottom .team{margin-top: 12px;}
.con-ty2 .user-info-wrap .user-info-box .bottom .team span::after{content: ''; display: inline-block; margin: -2px 8px 0; width: 1px; height: 16px; background-color: #79747E; vertical-align: middle;}
.con-ty2 .user-info-wrap .user-info-box .bottom .team span:last-child:after{display: none;}
.con-ty2 .user-info-wrap .user-info-box .bottom .btn.txt{margin-top: auto;}

.con-ty2 .user-info-wrap .table-wrap{margin-top: 0;}

/* 메인 요금플랜 */
.con-ty2 .main .section-wrap{padding: 0;}
.con-ty2 .main .section .inner{max-width: calc(1464px + 80px); margin: 0 auto; padding: 0 40px;}
.con-ty2 .main .fee-plan{padding-bottom: 270px;}
.con-ty2 .main .fee-plan .page-tit{padding:116px 0 80px; font-size: 24px; font-weight: initial; line-height: 1.5; color: #454545;}
.con-ty2 .main .fee-plan .plan-box-list {margin-top: 0;}
.con-ty2 .main .fee-plan .plan-box-list .item{max-width: none; padding: 40px; border-radius: 16px; border:none; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3); background-color: #fff;}
.con-ty2 .main .fee-plan .plan-box-list .item + .item{margin-left:16px}
.con-ty2 .main .fee-plan .plan-box-list .item .tit-wrap {height:248px;}
.con-ty2 .main .fee-plan .plan-box-list .item .tit-wrap .tit{font-size: 36px;}
.con-ty2 .main .fee-plan .plan-box-list .item .tit-wrap .desc{font-size: 24px; margin-top: 8px;}
.con-ty2 .main .fee-plan .plan-box-list .item .info-list{height: 275px;}
.con-ty2 .main .fee-plan .plan-box-list .item .info-list li{font-size: 24px;}

/* 메인 서비스소개 */
.con-ty2 .main.service{background-color: #F8F9FD;}
.con-ty2 .main .visual{position: relative; background-color: #125BE5; height: 960px; color: #fff;}
.con-ty2 .main .visual .inner{display: flex; justify-content: space-between; align-items: center; height: 100%;}
.con-ty2 .main .visual .tit-wrap .tit{font-size: 70px;}
.con-ty2 .main .visual .tit-wrap .tit strong{font-weight: 700;}
.con-ty2 .main .visual .tit-wrap .sub-txt{margin: 110px 0 48px; font-size: 28px; opacity: 0.8;}
.con-ty2 .main .visual .img-wrap{overflow: hidden; position: relative; width: 45.8%; flex-shrink: 0;}
.con-ty2 .main .visual .img-wrap::before{content: ''; display: block; padding-top: 100%;}
.con-ty2 .main .visual .img-wrap img{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; object-fit: cover;}
.con-ty2 .main .visual .btn-wrap .btn{padding: 0 43px; min-width: 303px; border-radius: 12px; font-size: 24px; font-weight: 900; height: 80px;}
.con-ty2 .main .visual .btn-wrap .btn + .btn {margin-left: 16px;}

.con-ty2 .main .explain{position: relative; padding: 200px 0 184px;}
.con-ty2 .main .explain .list{margin: 0 auto; width: 900px;}
.con-ty2 .main .explain .list li{display: flex; align-items: center; padding-right: 62px;}
.con-ty2 .main .explain .list li:nth-child(2n){ padding-right: 0;}
.con-ty2 .main .explain .list li:nth-child(2n) .img-wrap{order: -1;}
.con-ty2 .main .explain .list li:nth-child(2) .img-wrap{position: relative;}
.con-ty2 .main .explain .list li:nth-child(2) .img-wrap::after{content: ''; display: block; width: 801px; height: 199px; position: absolute; right: 100px; top: 50%; background: url("../images/cont_deliver_line.png") no-repeat center;}
.con-ty2 .main .explain .list li + li{margin-top: 76px;}
.con-ty2 .main .explain .list li .txt-wrap{width: 100%;}
.con-ty2 .main .explain .list li .txt-wrap .tit{font-size: 44px; color:#222;}
.con-ty2 .main .explain .list li .txt-wrap .tit strong{font-weight: 700;}
.con-ty2 .main .explain .list li .txt-wrap .desc{margin-top: 12px; font-size: 24px; color: #666;}
.con-ty2 .main .explain .list li .img-wrap{flex-shrink: 0;}

.con-ty2 .main .feature .sec-tit{padding-bottom: 28px; border-bottom: 1px solid #D9D9D9; font-size: 44px; font-weight: 700; text-align: center;}
.con-ty2 .main .feature .list {display: flex; padding: 165px 0 160px;}
.con-ty2 .main .feature .list li{position: relative; height: 477px; background-color: rgba(240, 245, 255, 0.7); border-radius: 100px; box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5); flex: 1;}
.con-ty2 .main .feature .list li + li{margin-left: 16px;}
.con-ty2 .main .feature .list li.report{margin-top: 214px;}
.con-ty2 .main .feature .list li::before{content: ''; display: block; margin: -40px auto 0; width: 200px; height: 300px; background-repeat: no-repeat; background-position: center; background-size: contain;}
.con-ty2 .main .feature .list li.message::before{background-image: url('../images/feature_01.png');}
.con-ty2 .main .feature .list li.report::before{margin-top: -140px; width: 300px; height: 400px; background-image: url('../images/feature_02.png');}
.con-ty2 .main .feature .list li.segment::before{background-image: url('../images/feature_03.png');}
.con-ty2 .main .feature .list .txt-wrap{padding: 28px 0; position: absolute; bottom: 0; width: 100%; height: 220px; border-radius: 0 0 100px 100px; background-color: #fff; text-align: center;}
.con-ty2 .main .feature .list .txt-wrap .tit{font-size: 32px; font-weight: 700; color:#4C88E4; line-height: 1.5;}
.con-ty2 .main .feature .list .txt-wrap span{font-size: 24px; color:#666;}

.con-ty2 .main .example{padding: 160px 0; background-color: #fff;}
.con-ty2 .main .example .list{display: flex; justify-content: space-between;}
.con-ty2 .main .example .list .txt-wrap{margin-bottom: 32px; text-align: center;}
.con-ty2 .main .example .list .txt-wrap strong{font-size: 18px; font-weight: 900; color: #4a7cf7;}
.con-ty2 .main .example .list .txt-wrap p{font-size: 32px;}
.con-ty2 .main .example .list .txt-wrap p em{font-weight: 700;}

.con-ty2 .main .relation-logo{padding: 160px 0 286px;}
.con-ty2 .main .relation-logo .list{display: flex; justify-content: center;}
.con-ty2 .main .relation-logo .list li{font-size: 16px; font-weight: 500; color: #3C3C43; text-align: center;}
.con-ty2 .main .relation-logo .list li + li{margin-left: 32px;}
.con-ty2 .main .relation-logo .list li::before{content: ''; overflow: hidden; display: block; margin-bottom: 12px; width: 132px; height: 132px; background-color: #fff; border-radius: 50%; background-repeat: no-repeat; background-position: center; background-size: contain;}
.con-ty2 .main .relation-logo .list li:nth-child(1)::before{background-image: url('../images/relation_logo_01.png');}
.con-ty2 .main .relation-logo .list li:nth-child(2)::before{background-image: url('../images/relation_logo_02.png');}
.con-ty2 .main .relation-logo .list li:nth-child(3)::before{background-image: url('../images/relation_logo_03.png');}
.con-ty2 .main .relation-logo .list li:nth-child(4)::before{background-image: url('../images/relation_logo_04.png');}
.con-ty2 .main .relation-logo .list li:nth-child(5)::before{background-image: url('../images/relation_logo_05.png');}
.con-ty2 .main .relation-logo .list li:nth-child(6)::before{background-image: url('../images/relation_logo_06.png');}

/* footer */
.con-ty2 .footer{padding: 103px 0; background: #212121; color: rgba(255, 255, 255, 0.5);}

.con-ty2 .footer .footer-inner{ display: flex; justify-content: space-between; align-items: center; box-sizing: border-box; max-width: calc(1464px + 80px); padding: 0 40px; margin: 0 auto;}

.con-ty2 .footer .footer-info ul, .con-ty2 .footer .footer-info ul li {display: flex;align-items: center;}
.con-ty2 .footer .footer-info ul li::after{content: '';  display: inline-block;  margin: 0 12px;  width: 1px;  height: 16px;  background-color: #3A3A3A;}
.con-ty2 .footer .footer-info ul li:last-child::after{ display: none;}
.con-ty2 .footer .footer-info .link-area{ margin-bottom: 20px;}
.con-ty2 .footer .footer-info .link-area li{ height: 40px;}
.con-ty2 .footer .footer-info .link-area li a{ color: rgba(255, 255, 255, 0.5);}
.con-ty2 .footer .footer-info .info-area{ display: flex; flex-direction: column; gap: 8px;}

.con-ty2 .footer .logo-area .foot-logo{ display: flex; align-items: center;}
.con-ty2 .footer .logo-area .foot-logo li:first-child::after{ content: '';  display: inline-block;  margin: 0 30px;  width: 1px;  height: 44px;  background-color: #3A3A3A;}

/* 이용약관 */
.policy .terms-wrap {padding: 20px 0; margin: 0 auto; max-width: 1070px; overflow: auto;}
.policy .terms-wrap .tit{ font-size: 24px; font-weight: 700; padding: 14px 0; border-bottom: 1px solid #D9D9D9; box-sizing: border-box; margin-bottom: 40px;}
.policy .terms .sub-tit{ font-size: 20px; font-weight: 700;}

.policy .terms{ display: grid; gap: 12px;}
.policy .terms + .terms{margin-top: 40px;}
.policy .terms .list li + li{margin-top: 4px;}

.policy .terms ol.list{ list-style: auto; margin-left: 20px;}
.policy .terms .list .table{margin: 12px 0;}

.policy .terms .list .table thead,
.policy .terms .list .table tbody th{background-color: #F4F4F4;}

.policy .terms .list .table thead th,
.policy .terms .list .table tbody th,
.policy .terms .list .table td{border: 1px solid #dddddd;}

.policy .terms .link-policy{font-size: 14px;}
.policy .terms .list-1depth{margin-top: 4px;}


/* 이용약관2 */
.con-ty2.wrap.terms{background-color: #fff;}
.terms .terms-wrap{margin: 0 auto; padding: 20px 0; max-width: 1070px;}
.terms .terms-tit{padding: 14px 0; border-bottom: 1px solid #D9D9D9; font-size: 24px; font-weight: 700;}
.terms .terms-inner{padding: 40px 0 60px; font-size: 14px; color: #666; line-height: 2;}
.terms .terms-inner a{font-size: inherit; color: inherit;}
.terms .terms-inner dl:not(:first-child){margin-top: 40px;}
.terms .terms-inner dt{margin-bottom: 12px; font-size: 20px; font-weight: 700; color: #222; line-height: 1.2;}

.terms .terms-inner .list{margin-top: 12px; counter-reset: item;}
.terms .terms-inner .list > li{position: relative; padding-left: 18px; counter-increment: item;}
.terms .terms-inner .list > li::before{content: counter(item) "."; position: absolute; top: 0; left: 0;}

.terms .terms-inner .list > li > ol{counter-reset: item2;}
.terms .terms-inner .list > li > ol > li{position: relative; padding-left: 18px; counter-increment: item2;}
.terms .terms-inner .list > li > ol > li::before{content: counter(item2); position: absolute; top: 7px; left: 0; display: flex; align-items: center; justify-content: center; width: 12px; height: 12px; font-size: 11px; border: 1px solid #999; border-radius: 50%;}

.terms .terms-inner .table{margin: 12px 0;}
.terms .terms-inner .table table{width: 100%;}
.terms .terms-inner .table th{background-color: #F4F4F4;}
.terms .terms-inner .table th, .terms .terms-inner .table td{border: 1px solid #ddd;}

.terms .terms-inner .info p ~ p{margin-top: 4px;}
.terms .terms-inner .info + .info{margin-top: 12px;}
.terms .terms-inner .last-txt{margin-top: 12px;}
.terms .terms-inner .last-txt p ~ p{margin-top: 12px;}


@media (max-width: 1600px) {
	.con-ty2 .grid-box li{flex-direction: column; gap: 10px 0;}
	.con-ty2 .grid-box li[class^="ico-"]::before{margin-right: 0;}
	.con-ty2 .grid-box li p{text-align: center;}

	.con-ty2 .main .visual .tit-wrap .tit{font-size: 60px;}
}