@import './default/icon.css';
@import './default/button.css';
@import './default/input.css';
@import './default/select.css';
@import './default/table.css';
@import './default/form.css';
@import './default/modal.css';
@import './default/alert.css';
@import './default/search.css';
@import 'custom.css';
@import './pages/login.css';
@import './pages/application/app.css';
@import './pages/application/app.dashboard.css';
@import './pages/application/app.message.css';
@import './pages/application/app.msgsend.css';
@import './pages/application/app.msgsend2.css';
@import './pages/appUser/appUser.css';
@import './pages/dashboard/dashboard.css';
@import './pages/message/message.history.css';
@import './pages/message/message.report.css';
@import './pages/message/template.css';
@import './pages/my/my.css';
@import './pages/segment/segment.css';
@import './pages/setting/admin.css';
@import './pages/statistics/statistics.css';
@import './style.css';


/* LAYOUT */
body {
    background-color: var(--lightgrey);
}

.layout-wrap {
    min-width: 1280px;
    max-width: 1920px;
    overflow-x: auto;
}

.main {
    display: flex;
}

/* .container{ padding: 99px 22px 22px; width: calc(100% - 69px); transition:0.5s; } */
.container {
    padding: 99px 22px 22px;
    width: calc(100% - 80px);
    transition: 0.5s;
}

.content {
    padding: 24px;
}

/* ASIDE MENU */
.aside {
    width: 80px;
    transition: 0.5s;
    overflow: hidden;
}

.aside.open {
    width: 220px;
}

.aside.open + .container {
    width: calc(100% - 220px);
}

.aside.open .aside-inr {
    width: 220px;
    transition: 0.5s;
}

/* .aside.open .nav-tt { opacity:1; transition:0.5s;} */
.aside.open .nav-tt {
    display: block;
    transition: 0.1s;
}

/* .aside.open .group-title { text-align:left; padding:18px 0 18px 24px; transition:0.1s; } */
.aside.open .group-title {
    margin: 0 24px;
    padding: 12px 0;
    text-align: left;
    transition: 0.1s;
}

/* .group-title { padding:18px 12px; font-size:12px; text-align:center; } */
.group-title {
    /* border-top: 1px solid #DADCE0;
    margin: 0 16px; */
    padding: 12px 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px; /* 153.846% */
    letter-spacing: -0.325px;
    text-align: center;
}

.aside li.active .icon {
    background-color: var(--lightblue);
    border-radius: 50%;
    transition: 0.5s;
}

.aside.open li.active .nav-depth1-tt {
    background-color: var(--lightblue);
    transition: 0.5s;
}

.aside .depth1-box {
    padding-right: 20px;
}

.aside-inr {
    position: fixed;
    top: 67px;
    left: 0;
    width: 80px;
    height: calc(100dvh - 80px);
    padding: 16px 0 32px;
    transition: 0.5s;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    background-color: var(--white);
    overflow: auto;
    overflow-x: hidden;
}

.aside .logo {
    padding: 0 20px;
}

.aside-user-info {
    padding-top: 30px;
    text-align: center;
}

.aside-user-info p {
    color: var(--sub-color);
}

/* aside scrollbar */
/* 스크롤바 전체 영역 */
.aside-inr::-webkit-scrollbar {
    width: 4px; /* 세로축 스크롤바 폭 너비 */
    height: 20px; /* 가로축 스크롤바 폭 너비 */
}

/* 스크롤바 막대 */
.aside-inr::-webkit-scrollbar-thumb {
    background: var(--gray2, #AAA); /* 스크롤바 막대 색상 */
    border-radius: 12px 12px 12px 12px;
}

.aside-inr::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
}

/* 스크롤이 움직이는 뒷 배경 */
.aside-inr::-webkit-scrollbar-track {
    background: white; /* 스크롤바 뒷 배경 색상 */
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    padding: 14px 20px 12px;
    background-color: var(--white);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

.header-inr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* NAVGATION */
/* .nav-depth1-li {
    margin-bottom: 12px;
} */
.nav-depth1-li + .nav-depth1-li {
    margin-top: 12px;
}

.nav-depth1-li:nth-child(2) .group-title {
    border-top: 0;
}

.nav-depth1-li:hover .nav-depth1-tt {
    background-color: var(--lightblue300);
    transition: 0.5s;
}


.nav-depth1-tt {
    display: flex;
    align-items: center;
    width: 200px;
    padding: 0 12px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* .nav-tt { display:block; font-size:14px; color:var(--fontSubColor4); font-weight:500; transition:0.5s; opacity:0; } */
.nav-tt {
    display: none;
    font-size: 14px;
    color: var(--fontSubColor4);
    font-weight: 700;
    transition: 0.5s;
    opacity: 1;
}

/* .nav-depth2-tt { display:flex; align-items:center; width:200px; padding:0 12px; border-top-right-radius:30px; border-bottom-right-radius:30px; } */
.nav-depth2-tt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    padding: 0 12px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.aside.open .nav-depth2-tt {
    width: 200px;
    justify-content: flex-start;
}

.aside.open .nav-depth2-li .depth2-box.active {
    background-color: #D8E6FF;
    border-radius: 0px 50px 50px 0px;
    margin-right: 20px;
}

.aside .nav-depth2-li .depth2-box.active .icon {
    background-color: #D8E6FF;
    border-radius: 50%;
}

/* SECTION */
.section-row {
    margin-top: 20px;
}

.section-row:first-child {
    margin-top: 0;
}

.section-row.flex {
    display: flex;
}

.section-box {
    min-height: 790px;
    border-radius: 10px;
    background-color: var(--white);
    border-radius: 10px;
}

.section-box.col {
    flex: 1 1 0;
    margin: 0 10px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

.section-box-tt {
    font-size: 20px;
    font-weight: 700;
    padding: 24px 0 16px 24px;
}

.section-row[row='1'] .section-box {
    min-height: calc(100dvh - 40px);
}

.flex-1 {
    flex: 1 1 0;
}

.label-text {
    color: black;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.35px;
}

/* button */
.submit-btn {
    background-color: var(--mainColor);
}

.text-white {
    color: var(--white);
}

.btn span.active-animation {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    animation: ripple 1s;
    opacity: 0;
}

/* Add animation */
@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(0);
    }

    to {
        opacity: 0;
        transform: scale(10);
    }
}


/* LOADER */
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #ddd;
    border-bottom-color: var(--blue);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Global UTILITY */
.glb-util {
    display: flex;
    align-items: center;
}

.glb-util > li {
    position: relative;
    margin-left: 20px;
    cursor: pointer;
}

.glb-util > li:first-child {
    margin-left: 0;
}

.glb-util-alram {
    position: relative;
}

.glb-util-alram .alram-noti {
    display: block;
    position: absolute;
    top: 3px;
    left: 15px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: var(--red);
}

/* CHANNEL */
.channel-select {
    width: 200px;
}

/* ALRAM */
.alram-wrap {
    position: fixed;
    top: 67px;
    left: auto;
    right: -100%;
    width: 300px;
    height: calc(100vh - 67px);
    padding: 20px;
    background-color: var(--white);
    border-left: 1px solid var(--lightgrey100);
    z-index: 1;
}

.alram-hd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--lightgrey100);
}

.alram-hd .alram-tt {
    font-size: 18px;
    font-weight: 700;
}

.alram-list li {
    padding-top: 20px;
}

.alram-list .glb-util-alram {
    position: relative;
}

.alram-list .flag-box {
    display: flex;
}

.alram-list .flag-box .new {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    font-size: 10px;
    color: #fff;
    background-color: var(--red);
}

.alram-list .alram-content {
    padding: 5px 0;
    line-height: normal;
}

.alram-list .alram-time {
    font-size: 12px;
    color: var(--lightgrey200)
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
}


.toggle-wrap {
    display: none;
    position: absolute;
    top: 46px;
    left: auto;
    right: 0;
    min-width: 100px;
    padding: 20px 15px;
    background-color: var(--white);
    box-shadow: 0 1px 6px 0px rgba(0, 0, 0, 0.3);
}

.glb-util-setting.open .toggle-wrap {
    min-width: 150px;
    display: block;
}

.glb-util-list li {
    padding-top: 10px;
}

.glb-util-list li:first-child {
    padding-top: 0;
}

.glb-util-list li a {
    display: block;
    font-size: 14px;
}

.glb-util-list .triangle {
    position: absolute;
    top: -6px;
    left: auto;
    right: 10px;
    width: 15px;
    height: 15px;
    background-color: #FFFF;
    border-radius: 4px;
    box-shadow: -2px 2px rgb(178 178 178 / 0.3);
    transform: rotate(135deg);
    z-index: 2;
}

.glb-util-user.open .toggle-wrap {
    display: block;
}

.glb-util-user.open .icon-glb-menu-user {
    background-image: url(/images/icon/icon_white_close.svg);
}

.glb-user-list li {
    padding-top: 10px;
}

.glb-user-list li:first-child {
    padding-top: 0;
}

.glb-user-list li a {
    display: block;
    font-size: 14px;
}


.glb-user-list .triangle {
    position: absolute;
    top: -6px;
    left: auto;
    right: 10px;
    width: 15px;
    height: 15px;
    background-color: #FFFF;
    border-radius: 4px;
    box-shadow: -2px 2px rgb(178 178 178 / 0.3);
    transform: rotate(135deg);
    z-index: 2;
}


.tab-list ul {
    display: flex;
    flex: 1 1 0;
    border-bottom: 1px solid var(--lightgrey400);
}

.tab-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 48px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.tab-list .tab-list-tt {
    font-size: 15px;
    font-weight: 700;
}

.tab-list .tab-list-dot {
    display: block;
    width: 6px;
    height: 6px;
    margin-left: 4px;
    background-color: transparent;
    border-radius: 15px;
}

.tab-list li.active {
    border-color: var(--blue);
}

.tab-list li.active .tab-list-dot {
    background-color: var(--red);
}

.tab-list .tab-list-tt.sm {
    font-size: 14px;
    font-weight: 700;
}


/* TOOLTIP */
[data-tooltip] {
    position: relative;
}

[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    transition: all .2s ease;
    font-size: 12px;
}

[data-tooltip]:before {
    content: attr(data-tooltip);
    height: 13px;
    position: absolute;
    top: -20px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    background: #000;
    box-shadow: 0 3px 8px rgba(165, 165, 165, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

[data-tooltip]:after {
    content: '';
    border-left: 5px solid transparent;
    top: 2px;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
}

[data-tooltip]:not([data-tooltip=""]):hover:before {
    visibility: visible;
    opacity: 1;
    top: -30px
}

[data-tooltip]:not([data-tooltip=""]):hover:after {
    visibility: visible;
    opacity: 1;
    top: -8px
}

/* LOADING */
.loading-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 104;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

.loading-wrap .spiner {
    padding-top: 30px;
}

.loading-list {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    border-bottom: 1px solid var(--borderTableColor);
}

.d-n {
    display: none;
}

td:hover .tooltip-container {
    display: inline-block;
}
td .tooltip-container {
    display: none;
    position: absolute;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px 12px 12px 12px;
    border: 1px solid #000;
    max-width: 400px;
    word-break: break-all;
    overflow-wrap: break-word;
    color: white;
}
td .tooltip-message {
    padding: 16px;
    font-size: 13px;
}