@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 300;
    src: url('/font/GoogleSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/font/GoogleSans-Medium.woff') format('woff');
}


@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    src: url('/font/GoogleSans-Bold.woff') format('woff');
}