@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-style: normal;
    src: url('/font/pretendard/Pretendard-Thin.woff2') format('woff2'),
    url('/font/pretendard/Pretendard-Thin.woff') format('woff');
    font-display: auto;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-style: normal;
    src: url('/font/pretendard/Pretendard-ExtraLight.woff2') format('woff2'),
    url('/font/pretendard/Pretendard-ExtraLight.woff') format('woff');
    font-display: auto;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-style: normal;
    src: url('/font/pretendard/Pretendard-Light.woff2') format('woff2'),
    url('/font/pretendard/Pretendard-Light.woff') format('woff');
    font-display: auto;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url('/font/pretendard/Pretendard-Regular.woff2') format('woff2'),
    url('/font/pretendard/Pretendard-Regular.woff') format('woff');
    font-display: auto;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-style: normal;
    src: url('/font/pretendard/Pretendard-Medium.woff2') format('woff2'),
    url('/font/pretendard/Pretendard-Medium.woff') format('woff');
    font-display: auto;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-style: normal;
    src: url('/font/pretendard/Pretendard-SemiBold.woff2') format('woff2'),
    url('/font/pretendard/Pretendard-SemiBold.woff') format('woff');
    font-display: auto;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-style: normal;
    src: url('/font/pretendard/Pretendard-Bold.woff2') format('woff2'),
    url('/font/pretendard/Pretendard-Bold.woff') format('woff');
    font-display: auto;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-style: normal;
    src: url('/font/pretendard/Pretendard-ExtraBold.woff2') format('woff2'),
    url('/font/pretendard/Pretendard-ExtraBold.woff') format('woff');
    font-display: auto;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-style: normal;
    src: url('/font/pretendard/Pretendard-Black.woff2') format('woff2'),
    url('/font/pretendard/Pretendard-Black.woff') format('woff');
    font-display: auto;
}