@charset "UTF-8";

#content {
    position: absolute;
    left: 360px;
    top: 75px;
}

.app-regist-status-subject {
    top: 35px;
    left: 60px;
    position: absolute;
    width: 100px;
    height: 24px;
}

.app-regist-status-subject > p {
    text-align: left;
    font-size: 20px;
    letter-spacing: 0px;
    color: #1A1A1A;
    opacity: 1;
}

select {
    -webkit-appearance: none; /* 크롬 화살표 없애기 */
    -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
    appearance: none; /* 화살표 없애기 */
    width: 80px;
    height: 40px;
    text-align: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    background-image: url("/image/btn_select_down.svg");
    background-position: right;
    border: 1px solid #768AA7;
    border-radius: 2px;
    font-family: 'Pretendard-Regular';
    font-size: 12px;
    opacity: 1;
}

select:focus {
    background-image: url("/image/btn_select_up.svg");
    border: 1px solid #1CA3DD;
    outline: none;
}

select::-webkit-scrollbar {
    width: 8px;
}

select::-webkit-scrollbar-thumb {
    background-color: #E3E3E3;
    border-radius: 8px;
}

select::-webkit-scrollbar-track {
    background-color: #F8F7F7;
    border-radius: 8px;
}

.app-regist-status-search-typing-area .search-typing-select {
    position: absolute;
    top: 120px;
    left: 995px;
}

#search-word {
    position: absolute;
    font-family: 'Pretendard-Medium';
    top: 120px;
    left: 1083px;
    width: 267px;
    height: 36px;
    padding-right: 37px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #768AA7;
    border-radius: 2px;
    opacity: 1;
    text-indent: 13px;
}

#search-word::placeholder {
    font-family: 'Pretendard-Regular';
    color: #ACB7C7;
}

#search-word:focus {
    border-color: #1CA3DD;
    outline: #1CA3DD;
}

#img-search {
    position: absolute;
    cursor: pointer;
    top: 130px;
    left: 1360px;
}

.app-regist-status-search-option-area {
    position: absolute;
    top: 210px;
    left: 100px;
}

.search-btn {
    width: 100px;
    position: absolute;
    top: 181px;
    left: 1277px;
    height: 40px;
    background: #22214B 0% 0% no-repeat padding-box;
    border-radius: 50px;
    opacity: 1;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0px;
    color: #F8F7F7;
    opacity: 1;
    line-height: 41px;
    cursor: pointer;

}

.list-app-regist-status {
    position: absolute;
    top: 260px;
    left: 100px;
    width: 1290px;
    height: 100%;
}

.list-app-regist-status tbody {
    overflow-y: auto;
    max-height: 401px;
    display: block;
    border-bottom: 1px solid #768AA7;
    height: 100%;
    width: 1290px;
}

.list-app-regist-status table {
    width: 1290px;
    border-collapse: collapse;
}

.list-app-regist-status thead {
    border-top: 2px solid #768AA7;
    display: block;
    border-bottom: 1px solid #768AA7;
}

.list-app-regist-status th {
    font-family: 'Pretendard-Regular';
    width: 256px;
    text-align: center;
    height: 50px;
    background-color: white;
    font-size: 13px;
    color: #999999;
    font-weight: normal;
    word-break: break-all;
    padding: 0px;
}

.list-app-regist-status tr {
    height: 40px;
    background-color: white;
    font-size: 14px;

}

.list-app-regist-status td {
    font-family: 'Pretendard-Regular';
    width: 256px;
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
    /* text-indent: 5px; */
}

tbody::-webkit-scrollbar {
    width: 8px;
}

tbody::-webkit-scrollbar-thumb {
    background-color: #E3E3E3;
    border-radius: 10px;
}

tbody::-webkit-scrollbar-track {
    background-color: #F8F7F7;
    border-radius: 10px;
}

.pagination {
    align-items: center;
    text-align: center;
    display: flex;
    width: 600px;
    height: 80px;
    margin-top: 30px;
    margin-left: 330px;
    margin-bottom: 60px;
    opacity: 1;
    justify-content: center;
}

.pagination a {
    min-width: 24px;
    height: 24px;
    line-height: 24px;
    background-color: white;
    font-family: 'Pretendard-Regular';
    font-size: 12px;
    color: #768AA7;
    margin-right: 5px;
    text-align: center;
    border: 1px solid #ACB7C7;
    border-radius: 3px;
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
    z-index: 100;
}

.pagination a.selected {
    background-color: #22214B;
    color: white;
    border: 1px solid #ACB7C7;
    border-radius: 3px;
    border-color: #22214B;
    text-decoration: none;
}


.pagination .first-page-btn {
    margin-right: 5px;
}

.pagination .first-page-btn.disabled {
    cursor: default;
    pointer-events: none;
    content: url("/image/btn_page_first_disable.svg");
}

.pagination .prev-page-btn {
    margin-right: 5px;
}

.pagination .prev-page-btn.disabled {
    cursor: default;
    pointer-events: none;
    content: url("/image/btn_page_prev_disable.svg");
}


.pagination .next-page-btn {
    margin-right: 5px;
}

.pagination .next-page-btn.disabled {
    cursor: default;
    pointer-events: none;
    content: url("/image/btn_page_next_disable.svg");
}


.pagination .last-page-btn {
    margin-right: 5px;
}

.pagination .last-page-btn.disabled {
    pointer-events: none;
    cursor: default;
    content: url("/image/btn_page_last_disable.svg");
}

.show-detail-history {
    display: inline-block;
    width: 62px;
    height: 26px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    text-align: center;
    border: 1px solid #22214B;
    border-radius: 50px;
    opacity: 1;
    line-height: 26px;
    font-size: 12px;
    font-family: 'Pretendard-Regular';
    cursor: pointer;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    -webkit-text-fill-color: #000;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}