.template-contents {
    padding: 30px 24px 0;
}

.template-srh {
    padding-top: 20px;
}

.template-srh .btn {
    height: 40px;
}

.campain-select,
.channel-select,
.template-name-input {
    width: 463px !important;
}

.new-campaign-btn {
    width: 122px;
    padding: 0px;
}

.name-check-btn {
    width: 122px;
    border: 1px solid #4A7CF7;
    color: #4A7CF7;
    background: white;
}

.personal-tag {
    width: auto;
    padding: 0px 16px;
}

.input-button-box .campain-selec {
    width: calc(100% - 150px);
}

.table-col-etc .col-inr {
    display: none;
    text-align: center;
    justify-content: center;
}

.table-st01 tr:hover .table-col-etc .col-inr {
    display: flex;
}

.container-padding {
    padding: 24px 24px 40px 24px;
}

.container-hr {
    border-bottom: 1.5px solid var(--borderColor100);
}

.container-title {
    color: var(--black, #222);
    font-family: "Noto Sans CJK KR";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 150% */
    letter-spacing: -0.5px;
}

.container-sub-box {
    margin-top: 15px;
    display: flex;
    padding: 14px 16px;
    width: 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-bottom: 2px solid var(--blue100);
}

.container-sub-title {
    color: var(--black, #222);
    text-align: center;
    font-family: "Noto Sans CJK KR";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 133.333% */
    letter-spacing: -0.375px;
}

.main-container {
    padding-top: 41px;
    display: flex;
    gap: 20px;
}

.pb-40 {
    padding-bottom: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

.gap-8 {
    gap: 8px;
}

.template-input {
    padding-top: 16px;
    display: flex;
    align-items: center;
    position: relative;
}

/* 라디오 버튼 */
.radio-group {
    display: flex;
    gap: 8px;
}

input[type="radio"] {
    display: none;
}

/* 버튼 스타일링 */
.radio-button {
    border-radius: 5px;
    border: 1px solid var(--borderColor100);
    background: #FFF;
    height: 36px;
    width: 121px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.35px;
}

/* 선택된 버튼 스타일링 */
.radio-group input[type="radio"]:checked + .radio-button {
    background-color: var(--blue100);
    color: #fff;
    border-color: var(--blue100);
}

.template-add,
.template-back {
    width: 155px;
}

.choose-msg-type {
    width: 220px;
}

.msg-viewer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.content-row-line {
    border: 1px solid #DADCE0;
}

.content-row {
}

.hidden {
    display: none !important;
}

.content-row .content-column-box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
}

.content-row .content-column-box .textarea {
    height: 150px;
    resize: none;
}

.content-row .content-column-box .input-toggle-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    border-radius: 5px;
    border: 1px solid #DADCE0;
    background: #FFF;
}

.content-row .content-column-box .input-toggle-wrap {
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    border-radius: 5px;
    border: 1px solid #DADCE0;
    background: #FFF;
    gap: 18px;
}

.content-row .content-column-box .input-toggle-wrap .input-toggle-row {
    padding: 0;
    border: none;
}

.content-row .content-column-box .input-toggle-wrap .input-toggle-label {
    font-size: 16px;
}