#nav-empty-area {
    position: fixed;
    left: 0px;
    top: 80px;
    width: 160px;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 200;
}

nav {
    top: 80px;
    position: fixed;
    left: 160px;
    width: 200px;
    height: 100%;
    /* UI Properties */
    background: #F8F7F7 0% 0% no-repeat padding-box;
    opacity: 1;
    overflow: true;
    z-index: 200;
}

.nav-menu {
    padding-left: 0px;
}

.min-nav-menu {
    display: none;
    padding-left: 0px;
}

.nav-menu li {
    /* display: inline-block; */
    width: 200px;
    height: 50px;
    list-style: none;
    position: relative;
    font-family: 'Pretendard-Regular';
    text-align: center;
}

.min-nav-menu li {
    /* display: inline-block; */
    width: 60px;
    height: 50px;
    list-style: none;
    position: relative;
}

.nav-menu li:hover > a {
    display: block;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.min-nav-menu li:hover > a {
    display: block;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

/*
        .nav-menu a:hover{      
            background: #FFFFFF 0% 0% no-repeat padding-box;
            opacity: 1;
        } */
.nav-menu a {
    position: relative;
    display: block;
    line-height: 60px;
    text-align: left;
    letter-spacing: 0px;
    color: #22214B;
    text-decoration: none;
    opacity: 1;
    width: 200px;
    height: 50px;
    z-index: 50;
}

.min-nav-menu a {
    position: relative;
    display: block;
    line-height: 60px;
    text-align: left;
    letter-spacing: 0px;
    color: #22214B;
    text-decoration: none;
    opacity: 1;
    width: 60px;
    height: 50px;
    z-index: 50;
}

.nav-menu a p {
    position: absolute;
    top: -18px;
    font-size: 14px;
    left: 60px;
}

.nav-menu li a > img {
    position: relative;
    left: 28px;
    top: 3px;
}

.min-nav-menu li a > img {
    position: relative;
    align: 'center';
    left: 22px;
    top: 3px;
}

.nav-menu li a > img ~ p {
    font-size: 15px;
}


.nav_active {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.nav_active_blue {
    position: absolute;
    border-radius: 0px 3px 3px 0px;
    width: 6px;
    height: 50px;
    background: #1CA3DD 0% 0% no-repeat padding-box;
    opacity: 1;
    display: inline-block;
    left: 0px;
}
